<div class="container">
	<div class="row mt-2">
		<div class="col-12">
			<button class="btn btn-success btn-sm" (click)="ClickBtnAgregarUsuario()">Agregar <i class="bi bi-plus"></i></button>
		</div>
		<div class="col-12">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido paterno</th>
						<th>Apellido materno</th>
						<th>Edad</th>
						<th>Correo</th>
						<th>Teléfono</th>
						<th>Fecha y hora de registro</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of usuarios">
						<td>{{user?.nombre}}</td>
						<td>{{user?.aPaterno}}</td>
						<td>{{user?.aMaterno}}</td>
						<td>{{user?.edad}}</td>
						<td>{{user?.correo}}</td>
						<td>{{user?.telefono}}</td>
						<td>{{user?.fechaHoraRegistro}}</td>
						<td>
							<button class="btn btn-sm btn-warning" (click)="ClickBtnActualizarUsuario(user)">
								<i class="bi bi-pencil"></i>
							</button>
						</td>
						<td>
							<button class="btn btn-sm btn-danger" (click)="ClickBtnEliminarUsuario(user)">
								<i class="bi bi-trash3"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>